rag/rag-base/src/commonMain/kotlin/ai/koog/rag/base/files/FileSystemProvider.kt @skarpovdev @sproshev
rag/rag-base/src/jvmMain/kotlin/ai/koog/rag/base/files/JVMFileSystemProvider.kt @skarpovdev @sproshev
rag/rag-base/src/jvmTest/kotlin/ai/koog/rag/base/files/JVMFileSystemProviderTest.kt @skarpovdev @sproshev