.gradle
**/.kotlin
.idea
build
**/.claude/settings.local.json
env.properties
.qodana/code-coverage
local.properties
**/kotlin-js-store
docs/src/main/kotlin/*.kt
**/.env
.venv
.DS_Store
/.claude/
/.junie/memory
